body{
    margin:0
}
header,.footer{
    background-color: #1f2937;
}

.hero-text>p:nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
    margin:0;
}

.hero-text>p:nth-child(2),a{
    font-size: 18px;
    color:#e5e7eb;
    text-decoration: none;
}

.top>h2{
    font-size: 24px;
    color:#f9faf8;
    margin:0;
}

ul{
    list-style: none;
    display:flex;
    column-gap:10px;
    margin:0;
    padding:0;
}

button{
    background-color:#3882f6;
    color:#f9faf8;
    font-weight: bold;
    border-radius: 8px;
    width:120px;
    height:50px;
    border-color:#1f2937;
}

.hero>img{
    width:400px;
}

header{
    display: flex;
    flex-direction: column;
    padding: 0 300px;
    height:400px;
    row-gap:60px;
}

.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
}

.hero{
    display:flex;
    justify-content: space-between;
    width:auto;
    height:240px;
    box-sizing: border-box;
    column-gap: 30px;
}

main{
    text-align: center;
    height:400px;
}

.img-text>img{
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.imgcollexion{
    display: flex;
    justify-content: center;
    column-gap:40px;
}

.img-text{
    max-width:150px;
}

.quotation{
    padding: 120px 400px 100px 390px;
    background-color: #e5e7eb;
}

.quote{
    width: 720px;
    margin:0 auto;
}

.quote>p{
    font-size: 36px;
    font-style: italic;
    font-weight:300;
    color:#6f757e;
    margin:0;
}

.quote>h3{
    margin: 0;
    text-align:end;
}

.bottom{
    margin:120px 320px;
    border-radius: 10px;
    padding:30px 80px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    color:white;
}

.bottom-text>h2,.bottom-text>p{
    margin:0
}

.bottom>button{
    border-color: white;
}

.footer{
    color:white;
    text-align: center;
    padding:50px 0;
}